
baseURL = "http://example.org/"
languageCode = "en-us"
title = "My Modular...f"
disableKinds = [
    "taxonomyTerm"
]

[caches]
[caches.modules]
dir = ":cacheDir/modules"
maxAge = "2m"


[params]
icon = "doc-sync"

[module]
[[module.mounts]]
source="foo"
target="static/foo"
[[module.mounts]]
source="content"
target="content"
[[module.mounts]]
source="foo"
target="static/foo"

[[module.imports]]
    path="github.com/bep/hugotestmods/mymounts"
    disabled=false
[[module.imports.mounts]]
    source="myassets/subfolder"
    target="assets/images"
[[module.imports.mounts]]
    source="mydata/subfolder"
    target="data/datakey"
[[module.imports]]
    path="github.com/bep/hugotestmods/mypartials"
    disable=false
[[module.imports]]
    path="github.com/spf13/hyde"
    disable=false
[[module.imports]]
    path="github.com/bep/hugo-fresh"
    disable=true   
[[module.imports]]
    path="in-themesdir"
